[2021-09-21 23:55] lecy opened #1 "instructor access"
Hi Jon - can you add @castower as an instructor in this class, please?

[2021-10-07 04:51] #1 closed

[2021-10-14 20:19] AhmedRashwanASU opened #3 "Reflection Topic Week 1"
Good day @castower So excited to start new practices in data analytics!

1- Just to confirm the week 01 reflection topic, where to get "What others think" in Roles and responsibilities, is it something we should get from our course colleagues? How can we obtain "What others think" part? if yes

2- After the Roles are created should we share the same on google docs and share the link for the same?

[2021-10-15 13:21] AhmedRashwanASU commented on #3
@castower I Started by creating google spreadsheet link to share my thoughts with my group , please let me know if that is good to go .

https://docs.google.com/spreadsheets/d/1BDW7g06Pkw9-Yw7JudzW4I-Vx-isqjmbPBwgmVuDwxA/edit#gid=0

[2021-10-15 13:32] castower commented on #3
@AhmedRashwanASU can you change your spreadsheet settings to allow anyone from ASU to access it? You can do this by clicking the 'share' button.

[2021-10-15 14:44] AhmedRashwanASU commented on #3
Done @castower Thank you, will that fulfill first week, reflection topic which should be submitted this Saturday?

[2021-10-17 12:46] AhmedRashwanASU commented on #3
Hello @castower Could you please check Group 01 CPP 528 Final Project - Week 01 - Kanban Boards in GitHub Creation let us know if that's good to go.

Thanks & Appreciated

[2021-10-17 15:17] castower commented on #3
Hello @AhmedRashwanASU, I left a comment on your team's Github repo Issues Board. Let me know if you have any other questions!

[2021-10-25 23:55] aawoods97 opened #11 "Lab 02: Definitions"
Hello! I was able to find the descriptions for the variables, but I am still looking for the descriptions of the ccflag, globd, and globg. Are these listed somewhere that I just so happen to be skipping over? I tried googling the variables to no avail.

[2021-11-01 16:07] mtwelker opened #16 "Lab 03: project_data_steps.R gives "object not found" errors"
Prof. Stowers,
On the first step of Lab 03, I'm getting errors when I try to run "project_data_steps.R":
[code]
(I bolded the errors)

I think it can't find the utilities in the utilities.R file, even though they're in the same directory.  And I believe I'm in the right directory, because it said:
[code]
and that's where the utilities.R file is with those functions that errored out:
![image](https

[2021-11-01 16:48] AmyTrumpower commented on #16
Did you load the import package?_

[2021-11-01 16:56] castower commented on #16
Hello Michelle,

I was able to replicate your error on my computer.

Tr

1. Restart your R session and clear all output.

2. Update the renv:

[code]

3. Open utilities.R

If you get a pop-up on the top of the screen to install any packages, select install.

Next, highlight the libraries entered and run the code.

4.  Open project_data_steps.R

If you get a pop-up to install any packages, click in

[2021-11-01 17:02] AmyTrumpower opened #17 "Lab 03: Following Instructions..."
I'm having some trouble discerning where we are supposed to enter the code given in the instructions in the lab. In the _Inspect Data_ section I performed the actions in the console and everything seemed to be correct. Then in the section labeled _Removing Missing Value Codes_ and subsequent sections in the _Tidy-Up-Dataframes,_ it seems like we would want to do those actions in a file for future

[2021-11-01 17:09] castower commented on #17
Hello @AmyTrumpower,

Great question! The steps you complete in Removing Missing Value Codes and Tidy-Up-Dataframes should create files that output to the rodeo folder instead of the raw folder. These are the files you will want to reference in future code as they have been updated.

Does that make sense?

[2021-11-01 18:04] mtwelker commented on #16
That did the trick!  Thank you!

[2021-11-01 21:08] Sanaz-27 opened #19 "Clarification on Lab 02"
Dear Dr. Courtney,

If you may clarify this to me!
Other than the **Directory Structure** from
[Lab 02](https://watts-college.github.io/cpp-528-fall-2021/labs/lab-02/)
Should we also add **Lab 02 as a new tab** to our group website?
Also, should we start updating the **Readme files** on the website as mentioned also on the Lab 02 page?

Best,
Sana'

[2021-11-01 22:35] castower commented on #19
Hello @Sanaz-27 ,

1) Lab 02 is not a required submission for the final website. If your team would like to include it, you can, but the first required lab to upload is Lab 03.

2) Yes, please begin updating the ReadMe files with brief descriptions of the contents of each folder.

[2021-11-02 01:49] mtwelker commented on #17
I have a similar question to @AmyTrumpower.  Should we do the steps in _Removing Missing Value Codes_ and _Tidy-Up-Dataframes_ in the RStudio console or in a script?  If in a script, should we be adding those steps to the projects_data_steps.R file we downloaded or should we create a new script?
Thank you!

[2021-11-02 01:58] castower commented on #17
Hello @mtwelker,

You can complete the steps within the RStudio console and save them to your .Rmd file.

[2021-11-02 01:59] mtwelker commented on #17
Okay, I've looked over the instructions again, and now I think that we are not actually supposed to be doing the steps in Removing Missing Value Codes and Tidy-Up-Dataframes ourselves because that's what the project_data_steps.R is doing.  Is that right?

[2021-11-02 02:19] castower commented on #17
Hello Michelle,

Yes, to clarify, the steps outlined in part 1 of the tutorial are the same
steps that the project_data_steps.R file automatically completes. The
tutorial breaks these steps down to assist with ensuring an understanding
of how the code works. If you would like to walk through all of the steps
and double-check that you are not getting any errors, you can include them
in your .rmd fi

[2021-11-02 05:53] Sanaz-27 commented on #19
Will do.
Thank you Dr. @castower

[2021-11-02 14:36] mtwelker opened #20 "Lab 03: Stats in MHV chart on tutorial 2"
In tutorial 2 for Lab 03, the "Exploration of Median Home Value" section starts with this code and output
[code]

![image](https://user-images.githubusercontent.com/76748583/139867878-f95a9b6f-0e98-4a5e-b3f7-9b0e3943d606.png)

From the code, it appears that the bottom row on the chart ("Change.00.to.10")  should be just the difference between the first two rows.  But the math doesn't check.  Can y

[2021-11-02 15:14] mtwelker opened #21 "Lab 03 utilities.R file"
Prof. Stowers @castower ,
The submission instructions for this week's lab say that we should submit our utilities.R file.  I'm assuming that file should include functions that we create for this week's lab.  Should we use the same utilities.R file we created for Lab 02 and add this week's functions to it?  In other words, by the end of the course should we have one large utilities.R file with all

[2021-11-02 15:27] castower commented on #20
Hello Michelle,

I am not at my computer right now to double-check the code, but your output
and listed code look correct.

The data in the last row are the summary statistics of the mhv.change
variable, not the difference in the summary statistics of mhv.00 and mhv.10

For example, instead of seeing the difference between the minimum of 9.9999
and 0, you're seeing the minimum of all the differenc

[2021-11-02 15:29] castower commented on #21
Hello Michelle,

Yes, you can add the functions to your previous file for ease of keeping
them all stored in one place.

Thanks!

On Tue, Nov 2, 2021, 11:15 AM Michelle Welker ***@***.***>
wrote:

[2021-11-02 15:31] castower commented on #20
Hello Michelle @mtwelker ,

I am not at my computer right now to double-check the code, but your output and listed code look correct.

The data in the last row are the summary statistics of the mhv.change variable, not the difference in the summary statistics of mhv.00 and mhv.10

For example, instead of seeing the difference between the minimum of 9.9999 and 0, you're seeing the minimum of all th

[2021-11-02 16:29] mtwelker commented on #21
Thank you!

[2021-11-02 16:29] mtwelker commented on #20
That does make sense.  And it seems somewhat obvious now that you've explained it.  Thank you very much!

[2021-11-02 20:33] DMBurwell commented on #16
Prof. Stowers-

I completed the above steps after updating R and RStudio to the most recent versions and am still getting the same error messages mentioned above:

+              "RELEVANT_FILES",
+              "obtain_crosswalk",
+              "create_final_metadata_file",
+              # notice the use of here::here() that points to the .R file
+              # where all these R objects are c

[2021-11-03 00:06] castower commented on #16
Hello Danica @DMBurwell,

[code]

should be

[code]

The file path needs to match the location of your utilities.R file.

Let me know if you run into any other issues!

[2021-11-03 00:26] DMBurwell commented on #16
I updated this and am still getting the same error messages

[2021-11-03 00:47] castower commented on #16
@DMBurwell have you installed the import package?

[2021-11-03 07:56] tim-ness commented on #17
Hi Prof. @castower,

I apologize but I'm still a bit lost on this. I've had no trouble with part 1 of the tutorial and see the files are loaded in my rodeo file. Then I had no trouble running part 2 of the tutorial for 2000 and 2010 just as it is. However, the lab instructions explicitly state that our RMD submission for Lab 3 cannot look like part 2 of the tutorial because we are supposed to do t

[2021-11-03 08:10] tim-ness opened #22 "Error with 1990 data"
Hi Prof @castower

As I said in another thread (Lab 03: Following Instructions... #17), I'm able to run part 2 of the tutorial just fine for 2000 and 2010. When I try switching to 1990 and 2000, I get about 2/3 of the way through in and then start hitting some errors, the first with pop00 (or pop00.x?) in the "Select Gentrification Variables" section. R Studio is telling me that pop00 doesn't exis

[2021-11-03 09:35] AmyTrumpower commented on #22
Just a thought on the first question …. Should the pop00 that is directly below the pop90.x that you highlighted actually be “pop00.x”?

[2021-11-03 12:03] castower commented on #22
Yes @tim-ness you will need to change the variables from 2010 to 1990.

As @AmyTrumpower noted, if you recall from our data dictionary in lab 02, the variable names can differ by year.

You will need to take a look at your data set to ensure that the variable names you list for the 90s are correct.

[2021-11-03 12:12] castower commented on #17
Hello @tim-ness,

You will create a new .RMD file where you will import the functions from your utilities.R file and the data sets in your rodeo folder.

The data processing steps shouldn't be explicitly written in the .RMD file like they are in the tutorial.

You will also want to ensure the dates are from 1990 instead of 2010.

[2021-11-03 18:16] tim-ness commented on #17
Hi @castower ,

Thank you. So just to clarify, we are only worried about importing the functions and data sets. The actual manipulation and analysis should be done in the .RMD file, is that right? Such as merging, mutating, creating the gentrification variables, etc?

By "the data processing steps shouldn't be explicitly written in the .RMD file like they are in the tutorial" does that mostly mean

[2021-11-03 18:18] castower commented on #17
Hello @tim-ness ,
Yes, exactly!

[2021-11-03 19:14] sandralili opened #23 "Lab 03 - Error: Cannot assign name to different value in the given environment. Name already in use."
Hello Professor @castower, I am getting this error, and I tried to fix it and nothing seems to work:

_Error: Cannot assign name to different value in the given environment. Name already in use._

This is the code where I am getting the error:
[code]

It seems R does this:
[1] "Starting on 1970"
[1] "Finished! Moving onto the next decade."
[1] "Starting on 1980"
[1] "Finished! Moving onto the next

[2021-11-03 19:27] castower commented on #23
Hello @sandralili ,

Did you run the import function twice?

If you ran it in the R file you do not need to run it again in your RMD file. It will try to overwrite the function and give an error that it is already in the environment.

[2021-11-03 19:30] sandralili commented on #23
That worked thank you prof. @castower !

[2021-11-03 22:07] ekmcintyre opened #24 "jplot() Error"
I keep getting an error when trying to use the jplot function to make histograms of MHV.

  could not find function "jplot"

Every time I search Google or Help in R I get results about ggplot2, but no actual jplot() function. I removed and reinstalled ggplot2 in case there was an issue with the package, but the error still shows. Is there another function I am meant to use there? I copied the code

[2021-11-03 22:19] castower commented on #24
Hello @ekmcintyre,

Jplot() is an alternative to ggplot() that has a specific format for journals.

You can try ggplot2::jplot() or changing the function to ggplot()

[2021-11-03 22:20] AprilPeck opened #25 "Clarification on submission instructions"
@castower  Can you elaborate on what you mean by this? Do all the data processing steps (i.e. everything from tutorial 1) go in the utilities.r file?

- If your RMD file looks exactly like the tutorial, you will not get full credit.
- This is because the tutorial is meant to show you what the data preprocessing steps should look like; not where they should live (which is in a separate .R file).
-

[2021-11-03 22:45] castower commented on #25
Hello @AprilPeck ,

Yes, you will want to have your functions listed in the utilities.R file so that the steps to create the rodeo files are not listed in the lab.

However, the steps to answer all of the lab prompts can remain in the .RMD file (calculating home change, selecting census tracts and creating the dorling cartogram).

[2021-11-03 23:01] sandralili opened #26 "Lab 03 - Your API call has errors"
Hello Professor @castower,
I was using my own state and city but I got this error:
"Error: Your API call has errors. The API message returned is error: invalid 'in' argument."

these.msp <- crosswalk$cbsaname == "LOS ANGELES-LONG BEACH-SANTA ANA, CA"
these.fips <- crosswalk$fipscounty[ these.msp ]
these.fips <- na.omit( these.fips )

state.fips <- substr( these.fips, 1, 2 )
county.fips <- substr(

[2021-11-03 23:03] AprilPeck commented on #25
@castower  Thank you. So all of the data wrangling also goes in utilities. I noticed there was some overlap between the utilities file we downloaded this week and the project_data_steps.r file. Do we need both files or can we just house everything in utilities.r?

[2021-11-03 23:05] castower commented on #25
Hello @AprilPeck , you can house everything in the utilities file.

[2021-11-03 23:28] castower commented on #26
Hello @sandralili ,

Did you set your census key before running the code?

[2021-11-03 23:36] sandralili commented on #26
@castower
I did, I can see the names of the cities and the information. But somehow "these.fips" is null so I think that's the problem, however, these.msp is not empty, it contains true/false arguments.

[2021-11-03 23:39] ekmcintyre commented on #24
I get this error when trying ggplot2::jplot()

Error: 'jplot' is not an exported object from 'namespace:ggplot2'

[2021-11-03 23:42] ekmcintyre commented on #24
If I try ggplot() I get this error.

Error: Mapping should be created with `aes()` or `aes_()`.

[2021-11-04 00:10] castower commented on #26
@sandralili can you send me your .RMD file? I'll take a look.

I have also extended the due date to Saturday to allow more time to troubleshoot this error.

[2021-11-04 00:11] castower commented on #24
Hello @ekmcintyre

can you send me your .RMD file? I'll take a look.

I have also extended the due date to Saturday to allow more time to troubleshoot this error.

[2021-11-04 00:24] sandralili commented on #26
Yes, of course, thanks.
Oh that's sounds great!

[2021-11-04 20:46] bbmoren2 commented on #16
I am having a similar issue. I followed [the instructions here](https://github.com/Watts-College/cpp-528-fall-2021/issues/16#issuecomment-956405807) but still get errors running the project_data_steps.R code.

I run the utilities.R file successfully with the the here() library outputting:

[code]
[code]

The first error I get after running the project_data_utilities.R file:

[code]
[code]

Then, w

[2021-11-04 20:57] castower commented on #16
Hello @bbmoren2,

If you notice, your here() package is starting at the user level of your computer. You must be inside of your repository's project for the code to work.

I would suggest re-opening your .Rproject file to ensure that here starts in that folder.

[2021-11-05 00:52] mtwelker opened #27 "Instructions for Saving your Dorling Cartogram"
Maybe I missed something obvious, but it took me forever to find the instructions for saving your Dorling Cartogram, so I'm posting them here in case anyone else is looking:
https://watts-college.github.io/cpp-529-fall-2021/LABS/save-dorling-cartogram.html

[2021-11-05 01:16] bbmoren2 commented on #16
I figured it was related to that, thank you for clarifying!

Brittany

[2021-11-05 03:00] bbmoren2 commented on #16
Hi again, @castower. 😬

I successfully navigated to the correct path through my .Rproject file but am receiving the same errors when I run the for() function:

[code]

And showing the traceback:

[code]

Is there another place I should be adding the correct directory or file path?

Thank you!

[2021-11-05 03:04] castower commented on #16
Hello @bbmoren2 ,

Do you have the ltdb files stored in your data/raw folder?

[2021-11-05 03:12] bbmoren2 commented on #16
Nope 😅 Thank you, @castower!

[2021-11-05 04:31] mtwelker opened #28 "Lab 03- Variables on chloropleth maps"
Prof. @castower ,

In the instructions, it says:

I have questions about all three parts:
1. For the first question above, are we expected to describe where these tracts are located geographically (e.g., "along the I-15 corridor" or "in the foothills") or just in a general sense (e.g., "in the center of the city" or "on the outskirts")?  It seems like we'd need to overlay the cartogram on a street

[2021-11-05 15:23] castower commented on #28
Hello @mtwelker ,

Great questions!

You will want to use your shapefile to create the choropleth maps.

Here is an example tutorial:

https://www.r-graph-gallery.com/choropleth-map-in-r.html

You can create a map of the home values in 1990 and visualize where the higher home values are located within your shapefile.

Then a second map of the home values in 2000 to visualize the distribution withi

[2021-11-05 21:03] mtwelker commented on #28
Thank you for that explanation @castower.  It sounds like you're saying that if we produce those three maps you mention (1990, 2000, and change), that will meet the chloropleth map requirements for this lab.  And then we just need to add some language explaining what we observe.  Is that right?

[2021-11-05 21:23] castower commented on #28
Hello @mtwelker ,
Yes, that's correct.

[2021-11-06 00:32] AprilPeck opened #29 "Functions from utilities.R not loading when knitting"
@castower

I can run all my code chunk by chunk and everything works fine; however, whenever I try to knit it gets stuck on the first function (compare_dfs) saying it couldn't find the function (which is in my utilities file). In my first chunk, I import utilities and load packages and, again, it runs fine when I run the code but not when I try to knit.
![image](https://user-images.githubuserconte

[2021-11-06 00:41] castower commented on #29
Hello @AprilPeck,
What folder is your utilities file stored in?

[2021-11-06 00:58] tim-ness opened #30 "Lab 03 Knitting"
Hi @castower

I'm trying to knit Lab 03 and it says it can't find the jplot function, which is in the utilities.R folder. When I run the RMD file without trying to knit it, it all works fine. Not sure what I'm missing here.
![Screenshot 2021-11-05 175712](https://user-images.githubusercontent.com/69982382/140592477-f7d50ab9-56b1-4eed-b026-90b11f299520.png)

Thank you

[2021-11-06 01:01] AprilPeck commented on #29
I had it in analysis, but I moved it to the lab folder to see if that helped (it didn't.)

[2021-11-06 01:01] castower commented on #30
Hello @tim-ness,
Will the file knit if you include this function in the .rmd file?

[2021-11-06 01:17] castower commented on #29
Hello @AprilPeck,

I believe the cause of the error is with the here() statement. You'll need to specify the folder where the file is stored.

You can either use source()

[code]

or import::here() and specify which functions you want to import. Recall the example from the lab:

[code]

[2021-11-06 01:19] castower commented on #30
Also ensure that you have properly imported your utilities file to your .RMD file:
https://github.com/Watts-College/cpp-528-fall-2021/issues/29#issuecomment-962308560

[2021-11-06 01:23] AprilPeck commented on #29
But it's currently housed in the same folder (labs/wk03) as my .rmd. ?? I originally had it in analysis and specified so in the here() statement but moved it to see if that would resolve the error.

[2021-11-06 01:30] castower commented on #29
@AprilPeck
Okay, if it's in the labs folder then your statement should indicate labs/wk03/utilities.R. The here() package always starts at the top of the repository so you will have to specify the file path from that point, even if your .RMD file is stored in the same place.

[2021-11-06 09:02] sandralili opened #31 "Lab 03 - Step #3"
Hello professor @castower
I had this error and I look around to solve it. I have tried everything and it does not work.
Error in curl::curl_fetch_memory(url, handle = handle) : Could not resolve proxy: Proxy_Add_Here
Here is my code:

crosswalk <- md
head (crosswalk)
# search for citie names by strings, use the ^ anchor for "begins with"

upper.names <- toupper (crosswalk$msaname)
crosswalk$msanam

[2021-11-06 14:42] castower commented on #31
Hello @sandralili ,
Did you uncomment the read.csv() section of your code to load the entire crosswalk?

Also, try changing your census key code to the following in a code chunk of its own:

[code]

You can't install the key in your r environ because you are sharing renv with others.

You'll also want to use the code chunk options to hide the storage of your key in your output code because your ke

[2021-11-06 19:05] sandralili commented on #31
@castower  Thank you, thank you!
It is working now!

[2021-11-07 00:04] tim-ness commented on #30
@castower now I'm having a similar problem to April that when it is trying to import the functions it's saying it can't find them, though my utilities.R file is in the labs/week03/utilities.R

<img width="943" alt="Screenshot 2021-11-06 164110" src="https://user-images.githubusercontent.com/69982382/140627119-c926015b-0dcc-4d53-959a-f3c72c64623f.png">

Even if I add in the clean_d function before

[2021-11-07 01:02] tim-ness commented on #30
Hi @castower,

I added the functions back into the RMD file but now when knitting a get an error that the API is busy or undergoing maintenance?

![Uploading Screenshot 2021-11-06 180129.png…]()

[2021-11-07 01:04] tim-ness commented on #30
Re: your second comment about properly importing the utilities: I tried to do what you explained to April in issue 29 but kept getting loads of errors, then remembered that we discussed that I shouldn't do the import in the RMD file because it is in my data steps file? So I'm not sure where I should be doing that.

[2021-11-07 01:15] castower commented on #30
Hello @tim-ness,

1) Can you re-upload your screenshot? It appears it got stuck loading and didn't actually post to the board.

2) Yes, if you have the import step in your data steps file, you'll get an error if you run it a second time. You will need to load your project_data_steps and utilities files. Also, make sure that you are loading your files and not one of your classmates'. You can do thi

[2021-11-07 01:20] tim-ness commented on #30
I reuploaded the screenshot to the previous comment. I do think that my computer was just over taxed at that particular moment.

Even if the functions are imported into data steps file, should I still do source(here("analysis/labs/wk03/utilities.R") in the RMD file? I don't fully understand that part.

[2021-11-07 01:27] castower commented on #30
Thanks @tim-ness,

Are all of the functions in your utilities file also listed in project_data_steps.R?

If so, you can just load that file using source(here("your file path")).

If not, you will need to load both files separately (and also make sure that there are no duplicates in the two files because that will cause errors when one function tries to overwrite the other).

Also, you may want to

[2021-11-07 01:33] tim-ness commented on #30
Thanks @castower

I don't think I have any functions directly stored in the project_data_steps.R folder? Am I supposed to? I didn't understand that from the directions.

Other than the import::here as stated above, I have
# for each relevant file, run the build_year() function ----
# note: this populates the data/rodeo/ directory with clean files
for (relevant_file in RELEVANT_FILES) {
  print(pas

[2021-11-07 01:36] castower commented on #30
@tim-ness,

Okay. No, you don't need to store any additional functions in the project_data_steps.R file. I just wanted to check that you need to import both files. You will need to load project_data_steps.R and utilities.R.

Can you send me your .RMD file as well as your project_data_steps.R and utilities.R files via email?

It appears there is a slight error in one of the functions, but I can't q

[2021-11-11 00:24] mtwelker opened #32 "Lab 04 - Run the model"
Prof. Stowers @castower  (or anyone who knows the answer to this one!),
In the instructions for Part 2 of Lab 04, it says "Select at least three census variables that you feel will be good predictors of change in MHV between 2000 and 2010.  **Run the model** while including metro-level fixed effects (cbsa name or FIPS)."

1. The census variables we choose as predictors should all be from 2000, rig

[2021-11-11 01:07] castower commented on #32
Hello @mtwelker,

1. Yes, the variables will be from 2000 because they are meant to "predict" what will happen over the 2000-2010 time period.
2. Yes, you're exactly correct. You can choose to run them separately or together as you see fit. If variables are run together, you will want to consider how they interact on your pairs() chart to determine whether the variables should be logged or not.
3.

[2021-11-11 15:31] mtwelker commented on #32
Thanks for your reply!
In the tutorial, it talks about controlling for metro-level "secular" market trends.  I'm assuming that the way we do that is to include the **metro** MHV as one of the variables in the model.  Is that correct?

[2021-11-12 23:11] tim-ness opened #33 "Lab 04 - Part 1"
Hi @castower,

Just to clarify, of the four tasks we're asked to complete in Part 1 of Lab 4, it seems that the first three (dropping all rural census tracts, creating a variable that measures the growth of median home value from 2000 to 2010, and omitting cases that have a median home value less than $10,000 in 2000( are all done in the lab_04_source.R file, is that correct? So in that case, once

[2021-11-12 23:38] castower commented on #32
Hello @mtwelker,

Yes, you are correct. This is one way to control for metro-level trends.

Another option is to control for CBSA. Example code for this is listed at the very end of the tutorial:
https://watts-college.github.io/cpp-528-fall-2021/labs/lab-04-tutorial.html#group-structure

Let me know if you have any further questions!

[2021-11-12 23:45] castower commented on #33
Hello @tim-ness,
Yes, you are correct.

[2021-11-13 20:54] DMBurwell opened #34 "Warning in readRDS"
I have been getting this error message when I run even just the first section of the lab. It hasn't seemed to effect my ability to get accurate info, but it is rather annoying. Any ideas on how to address this error message?

library( dplyr )
library( here )
library( knitr )
library( pander )
library( stargazer )
library( scales )

set.seed( 1234 )
# load necessary functions and objects ----
# not

[2021-11-13 22:44] castower commented on #34
Hello @DMBurwell ,

If you'd like to turn this message, you can set your code chunk to not display warnings/messages:

https://kbroman.org/knitr_knutshell/pages/Rmarkdown.html

[2021-11-14 04:13] bbmoren2 opened #35 "Lab 04 -Cannot knit file"
Hello,

I am getting a bizarre error when I attempt to knit. In the R Markdown console:

Quitting from lines 36-51 (lab04_cpp528_moreno.Rmd)
Error in loadNamespace(name) :
  there is no package called '/Users/bbmoreno/cpp528/cpp-528-fall-2021-group-06/labs/wk04/labs/wk04/lab_04_source_bm.R'
Calls: <Anonymous> ... loadNamespace -> withRestarts -> withOneRestart -> doWithOneRestart
Execution halted

[2021-11-14 04:21] castower commented on #35
Hello @bbmoren2,
Hmm, have you loaded the import and here libraries?

[2021-11-14 04:27] bbmoren2 commented on #35
I loaded those two libraries with no errors and afterwards when I run the above code chunk again get the error:

Error in loadNamespace(name) : there is no package called ‘/Users/bbmoreno/cpp528/cpp-528-fall-2021-group-06/labs/lab_04_source.R’

🤔

[2021-11-14 04:32] castower commented on #35
Can you email me your .RMD and source file?

[2021-11-14 04:35] bbmoren2 commented on #35
Headed your way! Thank you for your time on this.

[2021-11-14 04:41] Sanaz-27 commented on #35
Hello, pro. @castower,

same here I can't knit my file deu this error,

`error in setwd(dir) cannot change working directory calls: <anonymous> ... process_group.inline -> call_inline  -> in_dir -> setwd execution halted`

the import function works great, not sure what causes this :(

[2021-11-14 04:44] castower commented on #35
Hello @Sanaz-27,
Do you have a setwd() line of code in your .RMD file?

[2021-11-14 04:45] Sanaz-27 commented on #35
No, I don't!

[2021-11-14 04:54] castower commented on #35
@Sanaz-27 can you also send your .RMD file and source file to me via email?

[2021-11-14 04:57] castower commented on #35
@bbmoren2,

What does here() give for your file path?

Your error appears to be from the code searching for a labs folder within your labs folder.

[2021-11-14 04:58] bbmoren2 commented on #35
[1] "/Users/bbmoreno/cpp528/cpp-528-fall-2021-group-06"

[2021-11-14 04:58] bbmoren2 commented on #35
I saw that as well... but am not certain how to resolve it.

[2021-11-14 05:00] castower commented on #35
@bbmoren2 does just listing the file name work?

here::here("lab_04_source_bm.R")

[2021-11-14 05:04] bbmoren2 commented on #35
Do you mean in place of import::here(....)? If yes, I ran the code chunk with the import::here(...) replaced with here::here("lab_04_source_bm.R) and got the following error:

Quitting from lines 53-78 (lab04_cpp528_moreno.Rmd)
Error in gzfile(file, "rb") : cannot open the connection
Calls: <Anonymous> ... withCallingHandlers -> withVisible -> eval -> eval -> readRDS -> gzfile
Execution halted

Fo

[2021-11-14 05:11] castower commented on #35
@bbmoren2,

Okay, perfect, so it got past the first lines with that code. That should fix your import error.

For your first steps of the data code, keep in mind that the source file already merges your data and removes rural tracts, and eliminated home values less than 10k.

You'll only need to filter your 'd' data set to keep tracts with growth rates less than 200.

Duplicating these steps will

[2021-11-14 05:15] Sanaz-27 commented on #35
Done.

Many thanks.

[2021-11-14 05:23] castower commented on #35
Hello @Sanaz-27,

I see two conflicts within your file.

First, the knitr::opts_knit$set(root.dir = " ") is changing your directory location when you knit your file.

You will need to remove this line of code.

Next I'd you would like to use work_dir instead of directly entering the file name in your here::here() statement, the path must still be relative:

work_dir < - "labs/wk04/lab_04_source.R"

[2021-11-14 05:43] Sanaz-27 commented on #35
Thank you 😊

The knitting is working great now, but I'm not sure why it doesn't recognize other objects from the .R file now 😓

[2021-11-14 05:47] castower commented on #35
@Sanaz-27

Which objects from the .R file are not recognized?

[2021-11-14 05:50] bbmoren2 commented on #35
Thank you for the feedback! I corrected my Part 1 code but am now receiving "object 'd' not found" when I attempt to knit.

I am sorry for the ongoing issues. I am sure I am missing something straightforward here.

[2021-11-14 05:55] castower commented on #35
Hello @bbmoren2 ,
Did you add the mhv.growth variable and filter requirement to the filter () step?

[2021-11-16 04:24] mtwelker opened #37 "Lab 05: Detach import package"
Prof. Stowers @castower ,
In the video for this week, you recommend that we detach the import package after importing the functions with this command:

`detach("package:import", unload = TRUE)`

However, that line returns the following error for me:

`Error in detach("package:import", unload = TRUE) : invalid 'name' argument`

Do you know what that error means?  How important is it that we detach

[2021-11-16 04:37] castower commented on #37
Hello @mtwelker ,

The detach() function is intended to ensure that the import package won't interfere with the saverds() step of the lab.

However, if you aren't receiving any errors, it isn't a requirement.

It looks like you haven't loaded the import package in your library; that is likely why you're receiving an error while trying  to detach it.

[2021-11-16 18:57] Jana-Ajeeb opened #38 "Lab5: object not found"
Hello Dr.,

I'm trying to run this code :

[code]

# Load Functions

[code]

But it's giving me this error :   Error: object 'df' not found

Although df is found in the lab_05_source.R file

[2021-11-16 23:26] mtwelker commented on #32
Thanks so much for your answer.  I read the tutorial several times, but didn't quite understand that part until your answer above.

[2021-11-18 23:36] castower commented on #38
Hello @Jana-Ajeeb ,
I apologize for just seeing this! Were you able to resolve your error?

[2021-11-19 11:20] AmyTrumpower opened #39 "Lab 5:"
@castower  Hi Courtney (or anyone else that can help) 😊

Is the Parallel Lines Assumption the same as The Proportional Odds assumption?

I’m trying to answer the question in the lab and doing some research they *seem* to be used interchangeably but my interpretation may be wrong.

[2021-11-20 03:52] castower commented on #39
Hello @AmyTrumpower,

I am not familiar with the Proportional Odds Assumption, but when I reviewed the literature on it, it does appear to be the same concept.

The Parallel Lines Assumption is covered at the end of Lab 05 Tutorial: [https://watts-college.github.io/cpp-528-fall-2021/labs/lab-05-tutorial.html#:~:text=Difference-in-Difference%20Model%3A](https://watts-college.github.io/cpp-528-fall-

[2021-11-20 19:42] Sean-In-The-Library commented on #38
I have a similar problem where it's saying "unknown input format" for all of my RDS files.  I tried to troubleshoot it ([on StackOverflow and such](https://stackoverflow.com/questions/6473831/readrdsfile-in-r)) but none of the options worked.  I ended up just nuking my R/RTools/RStudio installs and reinstalling everything...   And it's still happening somehow.

![image](https://user-images.githubu

[2021-11-20 19:45] castower commented on #38
Hello @Sean-In-The-Library ,
Your here() statement should include the file path where the files are stored.

Ex: here::here("data/rodeo/ltdb-2000.rds")

[2021-11-20 20:06] tim-ness opened #40 "Lab 05: Error in gzfile(file, "rb") : cannot open the connection"
Hi @castower,

I'm not able to create the "complete.rodeo" object. I get an error that "Error in gzfile(file, "rb") : cannot open the connection". I can't find anything called "gzfile" or "rb" so I'm not sure what's wrong. When I google that error, the responses say it's a synching issue?
<img width="658" alt="Screenshot 2021-11-20 130327" src="https://user-images.githubusercontent.com/69982382/14

[2021-11-20 20:20] Sanaz-27 opened #41 "Lab 05 - Error with knitting"
Hello professor @castower,

I'm getting this error when knitting, although no errors when running the chunk in the .RMD file

**Results when knitting:**
![error](https://user-images.githubusercontent.com/75902690/142739767-119ba4d6-1d6e-4464-8479-01e1b7741175.JPG)

**Results when running chunk:**
![Capture](https://user-images.githubusercontent.com/75902690/142739785-0cec5942-0e81-47db-8f7b-2fa874

[2021-11-20 20:37] castower commented on #40
Hello @tim-ness,

Was your saverds() step successful?

[2021-11-20 20:44] tim-ness commented on #40
Aha, going back to check made me realize I forgot to change the initials again. 🤦‍♂️ Sorry!

[2021-11-20 21:42] castower commented on #41
Hello @Sanaz-27,
Did you import your regression data set from your source file?

[2021-11-20 21:50] Sanaz-27 commented on #41
yes, I did @castower

[code]

[2021-11-20 21:53] castower commented on #41
Okay, can you send me your .RMD file? I'll take a look.

[2021-11-20 21:57] Sanaz-27 commented on #41
Done.

Thank you so much.

[2021-11-20 22:28] tim-ness opened #42 "Lab 05: LIHTC model"
Hi @castower

I'm running into errors when trying to make the LIHTC model. First, I tried to create new objects to capture the LIHTC information in the lab_05_source_tn.R file. Then I created new data sets with that. I imported d6 at the beginning of the RMD document.
<img width="659" alt="Screenshot 2021-11-20 152129" src="https://user-images.githubusercontent.com/69982382/142742469-0a965f50-2631

[2021-11-20 22:34] castower commented on #41
Hello @Sanaz-27,
The error is occurring because your nmtc.reg and lihtc.reg data sets are not created within your .RMD or source files prior to trying to model them with stargazer. You'll have to create these data sets first and then graph them.

[2021-11-20 22:36] tim-ness commented on #42
I think I figured this out from typing it all out.

[2021-11-20 22:36] #42 closed

[2021-11-20 22:36] castower commented on #42
Glad you figured it out @tim-ness!

[2021-11-20 23:29] tim-ness opened #43 "Lab 05: Adding control variables"
Hi @castower

This should be the last question. When I try to add my control variables from lab 4 I'm told they can't be found. I see they're in the source file. I tried adding them to the data frames like below, but they are still not being found. I don't understand where we're supposed to re-input those variables into the data so that we can use them in the model. And, should it be p.unemp.00 li

[2021-11-20 23:39] castower commented on #43
Hello @tim-ness,

Have you stored them into a data set of their own before adding them to the data set?

You'll also want to note that percentages should use log10() and raw numbers should use log().

For example:

[code]

[2021-11-21 00:48] tim-ness commented on #43
Thanks @castower

I think I did that, but now when I try to run it I get an error in the original dataframe that an argument is missing

<img width="908" alt="Screenshot 2021-11-20 174233" src="https://user-images.githubusercontent.com/69982382/142745069-bd5a6119-1d76-4f80-b14c-d54455316a0c.png">

Here is what I did in the source file

<img width="702" alt="Screenshot 2021-11-20 174327" src="https

[2021-11-21 02:09] sandralili opened #44 "Lab 05 - Conflict with packages"
Hello professor @castower,

I've been having some issues with the dplyr library. I removed it and installed it a couple of times, closed R, and opened it again, and I still have the same error message, not sure how to fix it:

![image](https://user-images.githubusercontent.com/69232160/142746588-86f64525-06b7-4588-968a-e2610102e5f7.png)

Thank you!

[2021-11-21 02:37] castower commented on #44
Hello @sandralili,
This message is a warning that for those specific functions you'll have to designate if you'd like to use the dplyr or stats package. Otherwise, you should be okay.

[2021-11-21 02:45] tim-ness commented on #43
Nevermind I figured out this one too. 😒 I'm sorry.

[2021-11-21 03:14] sandralili commented on #44
Oh ok. Thank you! @castower

[2021-11-21 04:24] Sanaz-27 commented on #41
@castower ,
thank you, that was the trick, it works perfectly now.

[2021-11-21 16:14] Sean-In-The-Library commented on #38
Hey Professor,

This was my attempted work-around because I was unable to do it the proper way.  It throws the same error when I try to do it to the github repo.

[2021-11-21 17:37] mtwelker opened #45 "Lab 06 utilities.R"
Prof. Stowers @castower ,
Your message says that Lab 06 is an individual submission, but our group has started combining our labs for the final project, so can we all (each member of our group) submit the same utilities.R file that will be used for our final project (as our Lab 06 submission)?
Thank you,
Michelle Welker

[2021-11-21 17:45] castower commented on #45
Hello @mtwelker,
Yes, you can all submit the same utilities file.

[2021-11-21 17:48] castower commented on #38
@Sean-In-The-Library
Have you detached the import package? Sometimes it will conflict with readrds().

[2021-11-29 08:03] tim-ness opened #46 "cloropleth map"
Hi @castower

I'm working through the codethrough you provided to make the cloropleth maps and I'm receiving an error that 'x' in the 'cut' step must be numeric.

<img width="670" alt="Screenshot 2021-11-29 005926" src="https://user-images.githubusercontent.com/69982382/143829635-4b0a18dd-55e4-450b-bc0c-24aafe890cb9.png">

Thank you!

[2021-11-29 20:10] mtwelker opened #47 "What year span are we supposed to use for "Descriptive Analysis of Neighborhood Change"?"
Prof. Stowers,  @castower
On the Table of Contents in the rubric, one of the items is "Average change in MHV from 2000 to 2010."

![image](https://user-images.githubusercontent.com/76748583/143934978-1766f676-b5bf-402f-acb4-3a6e15431561.png)

However, the tutorial went through the 2000-2010 time period, and we were supposed to visualize change in MHV for the 1990-2000 time period for Lab 03.  So o

[2021-11-29 21:02] castower commented on #47
Hello @mtwelker, you will want to describe the changes from 2000 to 2010 that were covered in the lab to provide additional context for your 1990-2000 visualizations as well as your predictions for areas of gentrification.

[2021-11-29 21:03] castower commented on #46
@tim-ness by default the mhv.yr variables are not included in the rodeo data sets. Did you import your source file to create that variable? The mhmval variables are the ones that are in the rodeo data sets.